{%  extends "aeiot/base.html" %}
{% load bootstrap3 %}

{% block content %}
   <form action="" method="GET" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "search" %} Search
        </button>
    {% endbuttons %}
    </form>


   	         <table class="table table-striped">
        <thead>
          <tr><th>name</th><th>semanticics</th><th>version</th><th>supplier</th><th>manage</th></tr>
        </thead>
        <tbody>
            {% for algorithm in object_list %}
            <tr>
                <td><a href="{% url 'aeiot:algorithm-update' algorithm.id%}">{{ algorithm.name }}</td>
                <td>{{ algorithm.semantics }}</td>
                <td>{{ algorithm.version }}</td>
                <td>{{ algorithm.supplier }}</td>
                <td><a href="{% url 'aeiot:algorithm-delete' algorithm.id%}"><i class="glyphicon glyphicon-trash"></i></a></td>
            </tr>
            {% empty %}
                <li>No articles yet.</li>
            {% endfor %}
        </tbody>
      </table>



{% endblock %}